Thumbs.db
Procfile.windows
.DS_Store
.gradle
!.gradle/wrapper/gradle-wrapper.jar
!.gradle/wrapper/gradle-wrapper.properties
build/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
target/
testFile*.log
upWar.bat